<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.wipro.fms.servelets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>com.wipro.fms.servelets.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.wipro.fms.servelets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.AddTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.WelcomeTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeAdmin</servlet-name>
        <servlet-class>com.wipro.fms.servelets.WelcomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.UpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProUpdateTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ProUpdateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.RemoveTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProRemoveTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ProRemoveTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTask</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ViewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.AddTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.UpdateTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.RemoveTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ViewTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProAddTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ProAddTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sheduler</servlet-name>
        <servlet-class>com.wipro.fms.servelets.Sheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProUpdateTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ProUpdateTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProRemoveTrainer</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ProRemoveTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSchedule</servlet-name>
        <servlet-class>com.wipro.fms.servelets.ViewSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.wipro.fms.servelets.Report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeTrainer</servlet-name>
        <url-pattern>/WelcomeTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeAdmin</servlet-name>
        <url-pattern>/WelcomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTask</servlet-name>
        <url-pattern>/UpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProUpdateTask</servlet-name>
        <url-pattern>/ProUpdateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTask</servlet-name>
        <url-pattern>/RemoveTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProRemoveTask</servlet-name>
        <url-pattern>/ProRemoveTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTask</servlet-name>
        <url-pattern>/ViewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrainer</servlet-name>
        <url-pattern>/AddTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTrainer</servlet-name>
        <url-pattern>/UpdateTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTrainer</servlet-name>
        <url-pattern>/RemoveTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTrainer</servlet-name>
        <url-pattern>/ViewTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProAddTrainer</servlet-name>
        <url-pattern>/ProAddTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sheduler</servlet-name>
        <url-pattern>/Sheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProUpdateTrainer</servlet-name>
        <url-pattern>/ProUpdateTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProRemoveTrainer</servlet-name>
        <url-pattern>/ProRemoveTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSchedule</servlet-name>
        <url-pattern>/ViewSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
